<section class="login">
    <div class="login__container">
   {{>main-title title="Вход"}}
        <form>
            <div class="login__inputs">
                {{>input name="login" placeholder="Логин"}}
                {{>input name="password" placeholder="Пароль" type="password"}}
            </div>
            <div class="login__buttons">
                {{>button class="button--fill" title="Войти" type="submit"}}
                {{>button class="button--outline" title="Регистрация" type="button"}}
            </div>
        </form>
    </div>
</section>
