<section class="login">
    <div class="login__container">
    <h1 class="main-title">Вход</h1>
    <img src={{img}}>
        <form>
            <div class="login__inputs">
                {{>input name="login" placeholder="логин"}}
                {{>input name="password" placeholder="пароль"}}
            </div>
            <div class="login__buttons">
                {{>button class="button--fill" title="Войти" link="/chat"}}
                {{>button class="button--outline" title="Регистрация" link="/registration"}}
            </div>
        </form>
    </div>
</section>