.login {
    @include ui-page;
    margin: 0 auto;
    max-width: 520px;

    &__container {
        @include page-container;
    }

    &__buttons {
        @include flex-buttons;
        padding-top: 97px;
    }

    &__inputs {
        @include flex-center;
        flex-direction: column;
        gap: 32px;
    }
}
