.login {
  @include ui-page;
  margin: 0 auto;
  max-width: 520rem;

  &__container {
    @include page-container;
  }

  &__buttons {
    @include flex-buttons;
    padding-top: 97rem;
  }

  &__inputs {
    @include flex-center;
    flex-direction: column;
    gap: 32rem;
  }
}
