.login {
  @include ui-page;

  max-width: 520rem;
  margin: 0 auto;

  &__container {
    @include page-container;
  }

  &__buttons {
    @include flex-buttons;

    padding-top: 97rem;
  }

  &__inputs {
    @include flex-center;

    flex-direction: column;
    gap: 32rem;
  }
}
