:root {
    --shark-color: #1E1F22;
    --woodsmoke-color: #18191B;
    --gray-color: #888888;
    --white-color: #FFFFFF;
    --violet-color: #7905ED;
    --red-color: #FF2F2F;
    --voodoo-color: #432F4A;
    --amethyst-smoke-color: #9684A8;
    --amethyst-color: #9645C8;
    --mine-shaft: #373737;
    --bastille-color: #171318;
    --pink-color: #B40091;
    --ease: all 0.2s ease-in-out;
}
