.form-input {
  display: inline-block;
  @include ui-field;

  input {
    width: 100%;
    padding-top: 16rem;
    padding-bottom: 16rem;
    padding-left: 24rem;
    padding-right: 10rem;
    margin: 0;

    border: none;
    outline: none;
    border-radius: inherit;
    background-color: inherit;
    font-weight: 700;
    font-size: 16rem;
    line-height: 20rem;
    color: var(--white-color);

    &::placeholder {
      font-weight: 400;
      font-size: 14rem;
      line-height: 17rem;
      color: var(--gray-color);
    }
  }
}
