.form-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 5rem;

  @include ui-field;

  input {
    width: 100%;
    margin: 0;
    padding-right: 10rem;
    padding-left: 10rem;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16rem;
    line-height: 20rem;
    text-align: right;
    background-color: inherit;
    border: none;
    border-radius: inherit;
    outline: none;

    &::placeholder {
      color: var(--gray-color);
      font-weight: 400;
      font-size: 14rem;
      line-height: 17rem;
    }
  }

  &__text {
    display: block;
    width: 30%;
    font-weight: 600;
    font-size: 12rem;
    line-height: 1.2;
  }

  .error-message {
    &.notactive {
      display: none;
    }
  }
}
