.button {
  @include flex-center;

  padding-top: 16rem;
  padding-bottom: 16rem;
  min-width: 400rem;
  border-radius: 8rem;
  font-family: 'pressStart', Arial, Helvetica, sans-serif;
  font-size: 14rem;
  line-height: 14rem;
  transition: var(--ease);

  &--fill {
    background-color: var(--violet-color);
    color: var(--white-color);
  }

  &--outline {
    border: 1rem solid var(--violet-color);
    color: var(--violet-color);
  }
}
