.profile {
  width: 100vw;
  height: 100vh;

  background-color: var(--shark-color);

  &__container {
    display: grid;
    grid-template-columns: 58rem auto;
    width: 100%;
    height: 100%;

    margin: 0 auto;
  }

  &__nav {
    padding-top: 20rem;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 58rem;
    border-right: 1rem solid var(--gray-color);
  }

  &__nav-icon {
    display: block;
    width: 30rem;
    height: 30rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    @include flex-center;
    flex-direction: column;
    justify-content: space-around;

    padding-top: 20rem;
    padding-bottom: 20rem;
    padding-left: 126rem;
    padding-right: 126rem;
  }

  &__avatar {
    position: relative;
    margin: 0 auto;
    margin-bottom: 16rem;

    width: 100rem;
    height: 100rem;

    border-radius: 50%;
    background-color: var(--trendy-pink-color);

    img {
      border-radius: inherit;
    }
  }

  &__avatar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30rem;
    height: 30rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    padding-bottom: 25rem;

    font-weight: 700;
    font-size: 20rem;
    line-height: 24rem;
    text-align: center;
  }

  &__avatar-input {
    display: block;
    padding: 0;
    margin: 0;
    border: none;

    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
  }

  &__fields {
    display: grid;
    gap: 12rem;
    margin: 0 auto;
    min-width: 600rem;
  }

  &__fields-item {
    @include ui-field;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 24rem;
    padding-right: 24rem;
  }

  &__fields-name {
    display: inline-block;
    font-weight: 700;
    font-size: 12rem;
    line-height: 12rem;
  }

  &__fields-value {
    display: inline-block;
    font-weight: 700;
    font-size: 12rem;
    line-height: 12rem;
  }

  &__buttons {
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;

    padding-top: 70rem;
    margin-right: auto;
  }

  &__edit {
    padding-bottom: 10rem;
    font-family: 'pressStart', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10rem;
    line-height: 10rem;
    color: var(--heliotrope-color);
    cursor: pointer;
  }

  &__exit {
    margin-top: 25rem;
    min-width: 180rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 12rem;
    border-color: var(--gray-color);
    color: var(--red-color);
  }
}

.profile--settings {
  .error-message {
    left: 50rem;
    top: 32rem;
    width: 170%;
  }

  .profile__fields {
    gap: 20rem;
  }
}