.profile {
  width: 1280rem;
  height: 100%;
  // background-color: var(--shark-color);

  &__container {
    display: grid;
    grid-template-columns: 58rem auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__nav {
    width: 58rem;
    padding-top: 20rem;
    padding-right: 10rem;
    padding-left: 10rem;
    border-right: 0.5rem solid var(--white-color);
  }

  &__nav-icon {
    display: block;
    width: 30rem;
    height: 30rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    @include flex-center;

    flex-direction: column;
    justify-content: space-around;
    padding: 20rem 126rem;
  }

  &__avatar {
    position: relative;
    width: 100rem;
    height: 100rem;
    margin: 0 auto;
    margin-bottom: 16rem;
    background-color: var(--white-color);
    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  &__avatar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 30rem;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    padding-bottom: 25rem;
    font-weight: 700;
    font-size: 20rem;
    line-height: 24rem;
    text-align: center;
  }

  &__avatar-input {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    opacity: 0;
  }

  &__fields {
    display: grid;
    gap: 12rem;
    min-width: 600rem;
    margin: 0 auto;
  }

  &__fields-item {
    @include ui-field;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;
    padding-top: 10rem;
    padding-bottom: 10rem;

    div[data-id] {
      display: flex;
    }
  }

  &__fields-name {
    display: inline-block;
    font-weight: 700;
    font-size: 12rem;
    line-height: 12rem;
  }

  &__fields-value {
    display: inline-block;
    font-weight: 700;
    font-size: 12rem;
    line-height: 12rem;
  }

  &__buttons {
    @include flex-center;

    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-right: auto;
    padding-top: 70rem;
  }

  &__edit {
    padding-bottom: 10rem;
    color: var(--heliotrope-color);
    font-weight: 400;
    font-size: 10rem;
    font-family: pressStart, Arial, Helvetica, sans-serif;
    line-height: 10rem;
    cursor: pointer;
  }

  &__exit {
    min-width: 180rem;
    margin-top: 25rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: var(--red-color);
    font-size: 12rem;
    border-color: var(--gray-color);
  }
}

.profile--settings {
  .error-message {
    top: 40rem;
    left: 50rem;
    width: 170%;
  }

  .profile__fields {
    gap: 20rem;
  }
}
