.registration {
  @include ui-page;
  width: 947px;

  &__container {
    @include page-container;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__passwords {
    @include flex-center;
    gap: 20px;
  }

  &__buttons {
    @include flex-buttons;
    padding-top: 130px;
  }
}
