.registration {
  @include ui-page;
  width: 947rem;

  &__container {
    @include page-container;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32rem;
  }

  &__passwords {
    @include flex-center;
    gap: 20rem;
  }

  &__buttons {
    @include flex-buttons;
    padding-top: 100rem;
  }
}
