.chats {
  display: flex;
  width: 1280rem;
  height: 100%;
  min-height: 100%;

  &__container {
    display: grid;
    grid-template-columns: 400rem auto;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__column {
    display: flex;
    flex-direction: column;
    background-color: var( --woodsmoke-color);
  }

  &__column-header {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background-color: var(--shark-color);
  }

  &__column-link {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 10rem;
    line-height: 1.2;
    text-decoration: underline;
    cursor: pointer;

  }
}
