@mixin ui-page {
  padding: 3rem;
  background: linear-gradient(-60deg, #753bbdba 73%, #b40091 100%);
  background-color: var(--shark-color);
  border-radius: 16rem;
  box-shadow: 0 0 115rem rgb(117 59 189 / 30%);
}

@mixin page-container {
  padding: 40rem 60rem;
  background-color: var(--shark-color);
  border-radius: 13rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-buttons {
  @include flex-center;

  flex-direction: column;
  gap: 12rem;
}

@mixin ui-field {
  width: 100%;
  background-color: var(--woodsmoke-color);
  border-radius: 8rem;
}
