:root {
  --shark-color: #1e1f22;
  --woodsmoke-color: #18191b;
  --gray-color: #888;
  --white-color: #fff;
  --violet-color: #7905ed;
  --red-color: #ff2f2f;
  --voodoo-color: #432f4a;
  --amethyst-smoke-color: #9684a8;
  --amethyst-color: #9645c8;
  --mine-shaft: #373737;
  --bastille-color: #171318;
  --pink-color: #b40091;
  --trendy-pink-color: #87609f;
  --heliotrope-color: #ad5bff;
  --ease: all 0.2s ease-in-out;
}
