<section class="error">
    <div class="error__container">
        <p class="error__header error__text">
            {{description}}
        </p>
        <p class="error__error">
            {{error}}
        </p>
        <p class="error__footer error__text">
            Go <a href="/">HOME!</a>
        </p>
    </div>
</section>